$app-sidebar-width: 300px !default;
$app-sidebar-background: #333 !default;
$app-body-padding: 20px 15px 100px !default;
$app-body-box-sizing: border-box !default;

.app {

    .sidebar {
        position: fixed;
        width: $app-sidebar-width;
        height: 100%;
        background: $app-sidebar-background;
        padding: 0.5em;
        overflow-y: auto;

        h1 {
            font-size: 16pt;
            color: white !important;
            margin-bottom: 1em;
        }

        ul {
            padding: 0;
        }

        li {
            color: white !important;
            cursor: pointer;
            list-style: none;
            padding: 0.1em;
        }
    }

    .body {
        width: calc(100% - $app-sidebar-width);
        transform: translateX($app-sidebar-width);
        padding: $app-body-padding;
        box-sizing: $app-body-box-sizing;
    }
}